<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jk.minimalism.dao.BizContentMapper">

    <resultMap id="BaseResultMap" type="com.jk.minimalism.bean.entity.BizContent">
        <id column="ID" property="id"/>
        <result column="TYPE" property="type"/>
        <result column="CONTENT_CN" property="contentCn"/>
        <result column="CONTENT_EN" property="contentEn"/>
        <result column="COMMIT_QQ" property="commitQq"/>
        <result column="SHOW_QQ_STATE" property="showQqState"/>
        <result column="SOURCE" property="source"/>
        <result column="CONFIRM_STATE" property="confirmState"/>
        <result column="CONFIRM_USER" property="confirmUser"/>
        <result column="CONFIRM_TIME" property="confirmTime"/>
        <result column="CREATE_TIME" property="createTime"/>
        <result column="CREATE_BY" property="createBy"/>
        <result column="UPDATE_TIME" property="updateTime"/>
        <result column="UPDATE_BY" property="updateBy"/>
    </resultMap>

    <select id="getById" resultMap="BaseResultMap">
        SELECT * FROM biz_content T WHERE T.ID = #{id}
    </select>

    <delete id="deleteById">
        DELETE FROM biz_content WHERE ID = #{id}
    </delete>

    <sql id="where">
        <where>
            <if test="params.condition != null and params.condition !=''">
                AND (
                CONTENT_CN LIKE CONCAT('%', #{params.condition}, '%')
                OR CONTENT_EN LIKE CONCAT('%', #{params.condition}, '%')
                )
            </if>
            <if test="params.id != null and params.id != ''">
                and ID = #{params.id}
            </if>
            <if test="params.type != null and params.type != ''">
                and TYPE = #{params.type}
            </if>
            <if test="params.contentCn != null and params.contentCn != ''">
                and CONTENT_CN = #{params.contentCn}
            </if>
            <if test="params.contentEn != null and params.contentEn != ''">
                and CONTENT_EN = #{params.contentEn}
            </if>
            <if test="params.commitQq != null and params.commitQq != ''">
                and COMMIT_QQ = #{params.commitQq}
            </if>
            <if test="params.showQqState != null and params.showQqState != ''">
                and SHOW_QQ_STATE = #{params.showQqState}
            </if>
            <if test="params.source != null and params.source != ''">
                and SOURCE = #{params.source}
            </if>
            <if test="params.confirmState != null and params.confirmState != ''">
                and CONFIRM_STATE = #{params.confirmState}
            </if>
            <if test="params.confirmUser != null and params.confirmUser != ''">
                and CONFIRM_USER = #{params.confirmUser}
            </if>
            <if test="params.confirmTime != null and params.confirmTime != ''">
                and CONFIRM_TIME = #{params.confirmTime}
            </if>
            <if test="params.createTime != null and params.createTime != ''">
                and CREATE_TIME = #{params.createTime}
            </if>
            <if test="params.createBy != null and params.createBy != ''">
                and CREATE_BY = #{params.createBy}
            </if>
            <if test="params.updateTime != null and params.updateTime != ''">
                and UPDATE_TIME = #{params.updateTime}
            </if>
            <if test="params.updateBy != null and params.updateBy != ''">
                and UPDATE_BY = #{params.updateBy}
            </if>

        </where>
    </sql>

    <select id="count" resultType="int">
        select count(1) from biz_content t
        <include refid="where"/>
    </select>

    <select id="list" resultMap="BaseResultMap">
        select * from biz_content t
        <include refid="where"/>
        ORDER BY CREATE_TIME DESC
        limit #{offset}, #{limit}
    </select>

    <update id="update" parameterType="com.jk.minimalism.bean.entity.BizContent">
        update biz_content t
        <set>
            <if test="id != null">
                ID = #{id},
            </if>
            <if test="type != null">
                TYPE = #{type},
            </if>
            <if test="contentCn != null">
                CONTENT_CN = #{contentCn},
            </if>
            <if test="contentEn != null">
                CONTENT_EN = #{contentEn},
            </if>
            <if test="commitQq != null">
                COMMIT_QQ = #{commitQq},
            </if>
            <if test="showQqState != null">
                SHOW_QQ_STATE = #{showQqState},
            </if>
            <if test="source != null">
                SOURCE = #{source},
            </if>
            <if test="confirmState != null">
                CONFIRM_STATE = #{confirmState},
            </if>
            <if test="confirmUser != null">
                CONFIRM_USER = #{confirmUser},
            </if>
            <if test="confirmTime != null">
                CONFIRM_TIME = #{confirmTime},
            </if>
            <if test="createTime != null">
                CREATE_TIME = #{createTime},
            </if>
            <if test="createUser != null">
                CREATE_BY = #{createBy},
            </if>
            <if test="updateTime != null">
                UPDATE_TIME = #{updateTime},
            </if>
            <if test="updateUser != null">
                UPDATE_BY = #{updateBy},
            </if>

        </set>

        where t.id = #{id}
    </update>


    <update id="batchUpdateState">
        UPDATE biz_content
        SET
        CONFIRM_TIME = NOW(),
        CONFIRM_STATE = #{state},
        UPDATE_TIME = NOW(),
        UPDATE_BY = #{updateBy}
        WHERE ID
        <choose>
            <when test="ids.size() == 1">
                = #{ids[0]}
            </when>
            <otherwise>
                IN
                <foreach collection="ids" item="id" open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </otherwise>
        </choose>
    </update>

    <select id="countByType" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM biz_content WHERE `TYPE` = #{type} AND CONFIRM_STATE = '2'
    </select>

    <select id="getByTypeAndLimit" resultMap="BaseResultMap">
        SELECT * FROM biz_content WHERE `TYPE` = #{type} AND CONFIRM_STATE = '2' LIMIT #{offset}, 1
    </select>

    <select id="listByIds" resultMap="BaseResultMap">
        SELECT * FROM biz_content WHERE ID
        <choose>
            <when test="ids.size() == 1">
                = #{ids[0]}
            </when>
            <otherwise>
                IN
                <foreach collection="ids" item="id" open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </otherwise>
        </choose>
    </select>
</mapper>
