body {
    margin: 0;
    padding: 0;
    font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
    font-size: 14px;
}

#top {
    background: #eee;
    border-bottom: 1px solid #ddd;
    padding: 0 10px;
    line-height: 40px;
    font-size: 12px;
}

#calendar {
    max-width: 900px;
    margin: 40px auto;
    padding: 0 10px;
}

/*.layui-input-block {*/
    /*width: 100px;*/
    /*margin-left: 110px;*/
    /*min-height: 36px;*/
/*}*/

#jobTypeSelectBlock {
    width: 150px;
}
#jobDateTextBlock{
    width: 150px;
}

.layui-form {
    height: 160px;
}

.layui-form-label {
    width: 110px;
}

hr.hr15 {
    height: 15px;
    border: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

hr.hr20 {
    height: 20px;
    border: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
    background-color: inherit;
}

#setOther {
    float: right;
}




